@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  font-family: 'Geist Sans', sans-serif !important;
}

.cm-editor {
  height: 100%;
}

.cm-editor .cm-content * {
  font-family: 'Geist Mono', sans-serif !important;
  font-size: 14px !important;
}

.cm-editor .cm-gutters * {
  font-family: 'Geist Mono', sans-serif !important;
  font-size: 12px !important;
}

.cm-foldPlaceholder {
  background-color: transparent !important;
  border: none !important;
}

.cm-gutterElement {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cm-gutter.cm-lineNumbers {
  width: 40px;
}

a.router-link-active {
  @apply text-indigo-500 dark:text-indigo-400;
}
