@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  font-family: 'Geist Sans', sans-serif !important;
}

.monaco-editor .scroll-decoration {
  display: none;
}

.mtk8 {
  font-weight: 700 !important;
}

a.router-link-active {
  @apply text-indigo-500 dark:text-indigo-400;
}
